<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/styles.css">
  
    <title>Coolmeia Clothing Brand</title>
        <body>

            <!-- Navbar Superior -->
            <div class="navbar-top">
                <a href="#">Home</a>
                <a href="#">Coleção</a>
                <a href="#">Sobre</a>
                <a href="#">Contato</a>
            </div>
        
            <!-- Navbar Lateral -->
            <div class="navbar-left">
                <a href="#">Início</a>
                <a href="#">Produtos</a>
                <a href="#">Novidades</a>
                <a href="#">Blog</a>
            </div>
        
            <!-- Conteúdo Principal -->
            <div class="content">
                
                <h1>Bem-vindo à Coolmeia Clothing Brand</h1>
                <p>Explore nossa linha de roupas de streetwear fashion e descubra o estilo único que temos a oferecer.</p>
            </div>
        
        </body>
        </html>