body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #333; /* Fundo escuro */
    color: #f0c419; /* Cor dourada amarela para o texto */
}

/* Estilo da Navbar Superior */
.navbar-top {
    background-color: #1c1c1c;
    padding: 20px 20px;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

.navbar-top a {
    color: #f0c419;
    padding: 20px 20px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.navbar-top a:hover {
    background-color: #444;
    color: white;
}

/* Estilo da Navbar Lateral */
.navbar-left {
    height: 100%;
    width: 200px;
    position: fixed;
    /* top: 60px; Para ficar abaixo da navbar superior */
    left: 0;
    background-color: #1c1c1c;
    padding-top: 50px;
}

.navbar-left a {
    display: block;
    color: #f0c419;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
}

.navbar-left a:hover {
    background-color: #444;
    color: white;
}

/* Conteúdo principal */
.content {
    text-align: center;
     margin-left: 220px; /* Margem para evitar a barra lateral */
     padding: 80px 20px; /* Margem superior para evitar a navbar */
} 

.banner {
    text-align: center;
    padding: 20px;
}

.banner img {
    width: 300px;
}